<template>
<div>
  <h1 class="text-center">
    Your todo's
    <el-button @click="AddTodo" type="primary" icon="el-icon-plus">Add</el-button>
  </h1>
  <el-table
    :data="tableData"
    stripe
    style="width: 100%">
    <el-table-column
      prop="title"
      label="Title"
      width="180">
    </el-table-column>
    <el-table-column
      prop="description"
      label="Description"
      width="180">
    </el-table-column>
    <el-table-column
      prop="created_at"
      label="Created At">
    </el-table-column>
    <el-table-column
      label="Actions">
      <template slot-scope="scope">
        <i @click="editTodo(scope.row.id)" class="el-icon-edit"></i>
        <i @click="deleteTodo(scope.row.id)" class="el-icon-delete"></i>
      </template>
    </el-table-column>
  </el-table>
</div>
</template>
<script>
  export default {
    async created(){
        try{
          this.$loading();
          await this.$store.dispatch('getTodos');
          this.tableData = this.$store.getters.getTodos;
          this.$loading().close();
        }catch(err){
          this.showError(err);
          this.$loading().close();
        }
    },
     data() {
      return {
        tableData: [],
      }
    },
    methods: {
      onSubmit() {
        console.log('submit!');
      },
      AddTodo(){
        this.$router.push('/add-todo');
      },
      editTodo(id){
        this.$router.push('/edit-todo/'+id);
      },
      async deleteTodo(id){
        this.$loading();
        try{
          await this.$store.dispatch('deleteTodo', id);
          this.notify('Record deleted');
          this.$loading().close();
        }catch(err){
          this.$loading().close();
          this.showError(err);
        }
      }
    }
  }
</script>
<style scoped>
  .cell i{
    font-size: 20px;
  }
  .cell i:first-child{
    margin-right: 10px;
  }
  h1 button{
    float: right;
    margin-left: 10px;
  }
</style>