<template>
<div class="page-content">
  <h1 class="text-center">Login</h1>
 <el-form ref="form" :model="form" label-width="120px">
  <el-form-item label="Email">
    <el-input 
    v-model="form.email"
    name="email"
    v-validate="{required: true, min: 3, email: true}"></el-input>
    <div v-if="errors" class="error_msg">
        {{errors.first('email')}}
    </div>
  </el-form-item>
  <el-form-item label="Password">
    <el-input type="password" name="password" v-validate="{required: true, min:5}" v-model="form.password"></el-input>
    <div v-if="errors" class="error_msg">
        {{errors.first('password')}}
    </div>
  </el-form-item>
  <el-form-item class="actions">
    <el-button @click="Cancel">Cancel</el-button>
    <el-button type="primary" @click="onSubmit">Login</el-button>
  </el-form-item>
</el-form> 
</div>
</template>
<script>
  export default {
    data() {
      return {
        form: {
            email: '',
            password: '',
        }
      }
    },
    methods: {
        async onSubmit() {
            let valid = await this.$validator.validate();
            if(valid){
                try{
                    await this.$store.dispatch('login', this.form);
                }catch(err){
                    this.showError(err);
                }
            }
      },
      Cancel(){
          this.$router.push('/');
      }
    }
  }
</script>
<style scoped>
    .actions{
        text-align: right;
    }
  .text-center{
    text-align: center;
  }
</style>