<template>
<div class="page-content">
  <h1 class="text-center">Register</h1>
 <el-form ref="form" :model="form" label-width="120px">
  <el-form-item label="Email">
    <el-input 
    v-model="form.email"
    name="email"
    v-validate="{required: true, min: 3, email: true}"></el-input>
    <div v-if="errors" class="error_msg">
        {{errors.first('email')}}
    </div>
  </el-form-item>
  <el-form-item label="Password">
    <el-input type="password" name="password" v-validate="{required: true, min:5}" v-model="form.password"></el-input>
    <div v-if="errors" class="error_msg">
        {{errors.first('password')}}
    </div>
  </el-form-item>
  <el-form-item class="actions">
    <el-button @click="Cancel">Cancel</el-button>
    <el-button type="primary" @click="onSubmit">Register</el-button>
  </el-form-item>
</el-form> 
</div>
</template>
<script>
  export default {
    data() {
      return {
        form: {
            email: '',
            password: '',
            password_confirmation: '',
        }
      }
    },
    methods: {
        async onSubmit() {
            let valid = await this.$validator.validate();
            if(valid){
                try{
                    this.form.password_confirmation = this.form.password
                    this.$loading();
                    let res = await this.$store.dispatch('register', this.form);
                    console.log('res', res.data);
                    this.$router.push('/login');
                    this.$notify({
                        title: 'Registration Successfull',
                        message: 'Please look into your email and verify your account than login to use application',
                        type: 'success',
                        position: 'bottom-right',
                    });
                    this.$loading().close();
                }catch(err){
                  this.showError(err);
                  this.$loading().close();
                }
            }
      },
      Cancel(){
          this.$router.push('/');
      }
    }
  }
</script>
<style scoped>
    .actions{
        text-align: right;
    }
    .text-center{
      text-align: center;
    }
</style>