<template>
    <el-form ref="form" :model="form" label-width="120px">
        <h1 class="text-center">{{heading}}</h1>
        <el-form-item label="Title">
            <el-input name="title" v-validate="{required: true, min: 3}" v-model="form.title"></el-input>
            <div v-if="errors" class="error_msg">
                {{errors.first('title')}}
            </div>
        </el-form-item>
        <el-form-item label="Description">
            <el-input type="textarea" v-model="form.description"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button>Cancel</el-button>
            <el-button type="primary" @click="onSubmit">Save</el-button>
        </el-form-item>
    </el-form>
</template>

<script>
export default {
    async created(){
        if(this.$route.params.id){
            this.heading = "Update todo";
            let res = await this.$store.dispatch('getTodo', this.$route.params.id);
            this.form.id = res.data.id;
            this.form.title = res.data.title;
            this.form.description = res.data.description;
        }
    },
    data(){
        return{
            heading: 'Create new todo',
            form: {
                id: 0,
                title: '',
                description: '',
            },
        }
    },
    methods:{
        async onSubmit(){
            let valid = await this.$validator.validate();
            if(valid){
                this.$loading();
                try{
                    let res = '';
                    if(this.form.id > 0){
                        res = await this.$store.dispatch('updateTodo', this.form);
                    }else{
                        res = await this.$store.dispatch('addTodo', this.form);
                    }
                    this.$loading().close();
                    this.$router.push('/');
                }catch(err){
                    this.$loading().close();
                    this.showError(err);
                }
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .text-center{
        text-align: center;
    }
    form{
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
</style>