<template>
 <div class="page-content">
   <h1>To Do application</h1>
   <p>After creating account and verifying it you can login to application. 
     After login you can create todo's tasks and have facility to update or even delete your todo.
     Also there are some validations are applied that you can only edit or delete your own todo's</p>
 </div>
</template>
<script>
  export default {
    data() {
      return {
      }
    },
    methods: {
    }
  }
</script>
<style scoped>
  .page-content{
    max-width: 400px;
    margin: 0 auto;
    background: rgba(221,221,221,0.4);
    padding: 20px;
    border-radius: 5px;
  }
  h1{
    text-transform: uppercase;
    text-align: center;
  }
  p{
    line-height: 27px;
  }
</style>