<template>
  <div id="app">
    <el-menu
      v-if="checkUser"
      class="el-menu-demo"
      mode="horizontal"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b">
      <el-menu-item index="1" @click="logout">
        logout
      </el-menu-item>
    </el-menu>
    <el-menu
      v-else
      class="el-menu-demo"
      mode="horizontal"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b">
      <el-menu-item index="1">
        <router-link to="/login">Login</router-link>
      </el-menu-item>
      <el-menu-item index="2">
        <router-link to="/register">Register</router-link>
      </el-menu-item>
    </el-menu>
    <div id="content">
      <router-view/>
    </div>
  </div>
</template>
<script>
  export default {
    computed:{
      checkUser(){
        if(localStorage.getItem('todo_token'))
          return true;
        else
          return false;
      }
    },
    methods: {
      logout(){
        localStorage.removeItem('todo_token');
        this.$router.push('/login');
        window.location.reload();
      }
    }
  }
</script>


<style lang="scss">
  body{
    font-family: sans-serif;
  }
 .el-menu--horizontal>.el-menu-item{
   float: right !important;
 }
 ul.el-menu{
   margin-bottom: 15px;
   li a{
     text-decoration: none;
   }
 }
 div#content{
   max-width: 800px;
   margin: 0 auto;
 }
 .error_msg{
   color: red;
   line-height: 17px;
 }
  .page-content{
    max-width: 400px;
    margin: 0 auto;
    background: rgba(221,221,221,0.4);
    padding: 20px;
    border-radius: 5px;
  }
  li.menuitem{
    color: #303133 !important;
    border-bottom-color:none;
    background-color:none;
  }
</style>
